<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/tags/metaTags') %>
    <%- include('../partials/tags/favicon') %>
    <title>Sign In</title>
    <%- include('../partials/links/mainLinks') %>
</head>
<body>
    <%- include('../partials/noscript/noscript') %>
    <%- include('../partials/components/menu') %>
    <%- include('../partials/components/breadcrumb') %>
    <section>
        <div>
            <%- include('../partials/components/signInForm') %>
        </div>
        <div>
            <%- include('../partials/components/signUpForm') %>
        </div>
    </section>
    <%- include('../partials/components/footer') %>
    
    <%- include('../partials/links/authorizationServer') %>
    <%- include('../partials/links/authorize') %>
    <%- include('../partials/links/assignUserId') %>
    <script src="/js/authorization/register.js"></script>
    <script src="/js/authorization/login.js"></script>
</body>
</html>