<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/tags/metaTags') %>
    <%- include('../partials/tags/favicon') %>
    <title>Ninergames</title>
    <%- include('../partials/links/mainLinks') %>
</head>
<body>
    <%- include('../partials/noscript/noscript') %>
    <%- include('../partials/components/menu') %>
    <%- include('../partials/components/breadcrumb') %>
    <%- include('../partials/components/footer') %>
    
   <input id="map-id" type="hidden" value="<%= map._id %>" />
    Map Name: <input id="map-name" type="text" value="<%= map.name %>" />

    <%- include('../partials/links/authorizeAdmin') %>
    <%- include('../partials/links/modifyMap') %>
</body>
</html>