<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/tags/metaTags') %>
    <%- include('../partials/tags/favicon') %>
    <title>Ninergames</title>
    <%- include('../partials/links/mainLinks') %>
</head>
<body>
    <%- include('../partials/noscript/noscript') %>
    <%- include('../partials/components/menu') %>
    <%- include('../partials/components/breadcrumb') %>
    <%- include('../partials/components/footer') %>

    <input id="card-id" type="hidden" value="<%= card._id %>" />
    Card Name: <input id="card-name" type="text" value="<%= card.name %>" />
    
    <%- include('../partials/links/authorizeAdmin') %>
    <%- include('../partials/links/modifyCard') %>
</body>
</html>