<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>

                <label>
                    Effect Name
                    <input id="name" type="text" />
                </label>
                <label>
                    Effect Description
                    <input id="description" type="text" />
                </label>

                <label>
                    Effect Mobility
                    <input id="mobility" type="text" />
                </label>
                <label>
                    Effect Defence
                    <input id="defence" type="text" />
                </label>
                <label>
                    Effect Attack
                    <input id="attack" type="text" />
                </label>
                <label>
                    Effect Vision
                    <input id="vision" type="text" />
                </label>
                <label>
                    Effect Can Use On
                    <input id="can-use-on" type="text" />
                </label>
                <label>
                    Effect Cooldown
                    <input id="cooldown" type="text" />
                </label>
                <label>
                    Effect Duration
                    <input id="duration" type="text" />
                </label>
                <label>
                    Effect Cost
                    <input id="cost" type="text" />
                </label>
                <label>
                    Effect Stun Immunity
                    <input id="stun-immunity" type="checkbox" />
                </label>
                <label>
                    Effect Scare Immunity
                    <input id="scare-immunity" type="checkbox" />
                </label>
                <label>
                    Effect Silence Immunity
                    <input id="silence-immunity" type="checkbox" />
                </label>
                <label>
                    Effect Stun
                    <input id="stun" type="checkbox" />
                </label>
                <label>
                    Effect Scare
                    <input id="scare" type="checkbox" />
                </label>
                <label>
                    Effect Silence
                    <input id="silence" type="checkbox" />
                </label>
                <button id="add-btn">Add Effect</button>
                <%- include('../partials/components/footer') %>

                    <%- include('../partials/links/authorizationServer') %>
                        <%- include('../partials/links/authorizeAdmin') %>
                            <%- include('../partials/links/addEffect') %>
</body>

</html>