<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>

                <label>
                    Map Name
                    <input id="name" type="text" />
                </label>
                <label>
                    Map Size in formats (number(width and heght)) or (number(width)xnumber(height))
                    <input id="size" type="text" />
                </label>
                <label>
                    Image
                    <input id="image" type="text" />
                </label>
                <label>
                    Description
                    <input id="description" type="text" />
                </label>
                <button id="add-btn">Add Map</button>

                <div class="position-relative">
                    <img src="#" id="image-display" class="map display" alt="Map not found" />
                    <div id="field-grid" class="cube-overlay position-absolute"></div>
                </div>
                <%- include('../partials/components/footer') %>

                    <%- include('../partials/links/authorizationServer') %>
                        <%- include('../partials/links/authorizeAdmin') %>
                            <%- include('../partials/links/mapManipulation') %>
                                <%- include('../partials/links/addMap') %>
</body>

</html>