<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>

                <label>
                    Nation Name
                    <input id="name" type="text" />
                </label>
                <label>
                    Nation Description
                    <input id="nation" type="text" />
                </label>
                <label>
                    Nation Mobility
                    <input id="mobility" type="text" />
                </label>
                <label>
                    Nation Defence
                    <input id="defence" type="text" />
                </label>
                <label>
                    Nation Attack
                    <input id="attack" type="text" />
                </label>
                <button id="add-btn">Add Nation</button>
                <%- include('../partials/components/footer') %>

                    <%- include('../partials/links/authorizationServer') %>
                        <%- include('../partials/links/authorizeAdmin') %>
                            <%- include('../partials/links/addNation') %>
</body>

</html>