<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>
                <label>
                    Name
                    <input id="name" type="text" />
                </label>
                <label>
                    Nation
                    <div id="nations"></div>
                </label>
                <label>
                    Cards Count
                    <input id="cardsCount" type="text" />
                </label>
                <label>
                    Price
                    <input id="price" type="text" />
                </label>
                <button id="add-btn">Add Shop Pack</button>
                <%- include('../partials/components/footer') %>

                    <%- include('../partials/links/authorizationServer') %>
                        <%- include('../partials/links/authorizeAdmin') %>
                            <%- include('../partials/links/displayReturnedNations') %>
                                <%- include('../partials/links/addShopPack') %>
</body>

</html>