<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>

                <label>
                    Type Name
                    <input id="name" type="text" />
                </label>
                <label>
                    Type Description
                    <input id="type" type="text" />
                </label>

                <label>
                    Type Buff Nearby Allies
                    <input id="buff-nearby-allies" type="text" />
                </label>

                <label>
                    Type Debuff Nearby Enemies
                    <input id="debuff-nearby-enemies" type="text" />
                </label>

                <label>
                    Type Mobility
                    <input id="mobility" type="text" />
                </label>

                <label>
                    Type Defence
                    <input id="defence" type="text" />
                </label>

                <label>
                    Type Attack
                    <input id="attack" type="text" />
                </label>
                <label>
                    Type Stun Immunity
                    <input id="stun-immunity" type="checkbox" />
                </label>
                <label>
                    Type Scare Immunity
                    <input id="scare-immunity" type="checkbox" />
                </label>
                <label>
                    Type Silence Immunity
                    <input id="silence-immunity" type="checkbox" />
                </label>
                <label>
                    Type Charge
                    <input id="charge" type="checkbox" />
                </label>
                <button id="add-btn">Add Type</button>
                <%- include('../partials/components/footer') %>

                    <%- include('../partials/links/authorizationServer') %>
                        <%- include('../partials/links/authorizeAdmin') %>
                            <%- include('../partials/links/addType') %>
</body>

</html>