<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>
                <a href="/manage/nations/add">Add Nation</a>

                <input id="nation-name" type="text" />
                <%- include('../partials/components/recordsPerPage') %>
                    <div id="nations"></div>
                    <div id="pages"></div>
                    <%- include('../partials/components/footer') %>
                        <%- include('../partials/links/authorizationServer') %>
                            <%- include('../partials/links/authorizeAdmin') %>
                                <%- include('../partials/links/listingUtil') %>
                                    <%- include('../partials/links/getAdminNations') %>
</body>

</html>