<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>
                <div>
                    <a href="/manage/card">Manage Cards</a>
                    <a href="/manage/map">Manage Maps</a>
                    <a href="/manage/shopPacks">Manage Shop Packs</a>
                    <a href="/manage/nations">Manage Card Nations</a>
                    <a href="/manage/effects">Manage Card Effects</a>
                    <a href="/manage/types">Manage Card Types</a>
                    <a href="/manage/fields">Manage Map Fields</a>
                </div>
                <%- include('../partials/components/footer') %>

                    <%- include('../partials/links/authorizationServer') %>
                        <%- include('../partials/links/authorizeAdmin') %>
</body>

</html>