<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>
                <a href="/manage/field/add">Add Field</a>

                <input id="field-name" type="text" />
                <%- include('../partials/components/recordsPerPage') %>
                    <div id="fields"></div>
                    <div id="pages"></div>
                    <%- include('../partials/components/footer') %>
                        <%- include('../partials/links/authorizationServer') %>
                            <%- include('../partials/links/authorizeAdmin') %>
                                <%- include('../partials/links/listingUtil') %>
                                    <%- include('../partials/links/getAdminField') %>
</body>

</html>