<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>

                <input id="pack-id" type="hidden" value="<%= pack._id %>" />
                Pack Name: <input id="pack-name" type="text" value="<%= pack.name %>" />
                <label>
                    Nation
                    <div id="nations"></div>
                </label>
                Pack Price: <input id="pack-price" type="text" value="<%= pack.price %>" />
                Pack Cards Count: <input id="pack-count" type="text" value="<%= pack.cardsCount %>" />
                <% if(pack.readyToUse) { %>
                    Ready to use: <input id="pack-ready" type="checkbox" checked />
                    <% } else { %>
                        Ready to use: <input id="pack-ready" type="checkbox" />
                        <% } %>
                            <%- include('../partials/components/footer') %>

                                <%- include('../partials/links/authorizationServer') %>
                                    <%- include('../partials/links/authorizeAdmin') %>
                                        <%- include('../partials/links/displayReturnedNations') %>
                                            <%- include('../partials/links/modifyPack') %>
</body>

</html>