<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Not found</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            Error 404!
            <%- include('../partials/components/footer') %>
                <%- include('../partials/links/authorizationServer') %>
                    <%- include('../partials/links/authorize') %>
</body>

</html>