<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>
                You have been registered! You can now log in any of our games. Have fun!
                <%- include('../partials/components/footer') %>

                    <%- include('../partials/links/authorizationServer') %>
                        <%- include('../partials/links/authorize') %>
</body>

</html>