<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <%- include('../partials/components/breadcrumb') %>

                <input id="user-id" type="hidden" value="<%= id %>" />
                <div id="user-profile"></div>
                <div id="user-cards"></div>
                <%- include('../partials/components/footer') %>

                    <%- include('../partials/links/authorizationServer') %>
                        <%- include('../partials/links/authorize') %>
                            <%- include('../partials/links/banUtil') %>
                                <%- include('../partials/links/userUtil') %>
                                    <%- include('../partials/links/getUser') %>
                                        <%- include('../partials/links/getUserCards') %>
</body>

</html>