<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/tags/metaTags') %>
        <%- include('../partials/tags/favicon') %>
            <title>Ninergames</title>
            <%- include('../partials/links/mainLinks') %>
</head>

<body>
    <%- include('../partials/noscript/noscript') %>
        <%- include('../partials/components/menu') %>
            <label>
                Password
                <input id="password-register" name="password-register" type="password" />
            </label>
            <p id="password-register-error" class="d-none error">

            </p>
            <label>
                Repeat Password
                <input id="password-repeat-register" name="password-repeat-register" type="password" />
            </label>
            <button id="send-change-password">Change Password</button>
            <%- include('../partials/components/footer') %>
                <%- include('../partials/links/changePassword') %>
</body>

</html>