<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/metaTags') %>
    <%- include('../partials/favicon') %>
    <title>Not found</title>
    <%- include('../partials/mainLinks') %>
</head>
<body>
    <%- include('../partials/menu') %>
    <%- include('../partials/footer') %>
</body>
</html>