<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/metaTags') %>
    <%- include('../partials/favicon') %>
    <title>Sign In</title>
    <%- include('../partials/mainLinks') %>
    
</head>
<body>
    <%- include('../partials/menu') %>
    <section>
        <div>
            <%- include('../partials/signInForm') %>
        </div>
        <div>
            <%- include('../partials/signUpForm') %>
        </div>
    </section>
    <%- include('../partials/footer') %>

    <script src="/js/register.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>