<input id="effect-id" type="hidden" value="<%= effect._id %>" />
Effect Name: <input id="effect-name" type="text" value="<%= effect.name %>" />
Effect Description: <input id="effect-description" type="text" value="<%= effect.description %>" />
<label>
    Effect Mobility
    <input id="effect-mobility" type="text" value="<%= effect.mobility %>" />
</label>
<label>
    Effect Defence
    <input id="effect-defence" type="text" value="<%= effect.defence %>" />
</label>
<label>
    Effect Attack
    <input id="effect-attack" type="text" value="<%= effect.attack %>" />
</label>
<label>
    Effect Can Use On
    <input id="effect-can-use-on" type="text" value="<%= effect.canUseOn %>" />
</label>
<label>
    Effect Cooldown
    <input id="effect-cooldown" type="text" value="<%= effect.cooldown %>" />
</label>
<label>
    Effect Duration
    <input id="effect-duration" type="text" value="<%= effect.duration %>" />
</label>
<label>
    Effect Cost
    <input id="effect-cost" type="text" value="<%= effect.cost %>" />
</label>